# Build results
bin/
obj/
[Bb]uild/
[Ll]og/

# User-specific
.vs/
*.user
*.suo

# IDE
.idea/
.vscode/

# EF / data
App_Data/
*.db
*.db-shm
*.db-wal
Migrations/

# Logs
*.log

# Misc
*.DS_Store
Thumbs.db
